doctype html  
html(lang="en")  
  head
    title Express Routing
  body
    h1 Enter the top secret password

    form(action="/secret", method="post")  
      input(type="password", name="secret")
      input(type="submit", value="Show me!")
