body  
  if authorised
    h1 Welcome to my secret page, you have made it!
    img(src="http://bit.ly/1j7LCvf")
  else
    h1 You're not authorised to view this page

    form(action="/secret", method="post")
      input(type="password", name="secret")
      input(type="submit", value="Authorise")
